:root {
  background-color: #202020;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

#video {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 80%;
}

#kev {
  z-index: 99;
}

.App {
  text-align: center;
  background-color: #202020;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #202020;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bite {
  transition: all 5s ease-in-out;
 
}



.footer {
  bottom: 0;
}

.introName {
  text-align: left;
  font-size: 100px;
}

.nav-link:active {
  color: white;
}

.neonSkull {
  width: 600px;
  margin: auto;
}

.mePic {
  transform-orgin: center center;
}

.popSkull:hover {
  filter: drop-shadow(0 0px 35px rgba(245, 39, 145, 0.9));
  transition: all 0.5s ease-in-out;
  transform: scale(1.75);
  opacity: 1;
  z-index: 10;
}

.nasaSkull:hover {
  filter: drop-shadow(0 0px 35px rgba(245, 121, 39, 0.9));
  transition: all 0.5s ease-in-out;
  transform: scale(1.75);
  opacity: 1;
  z-index: 10;
}

.albumSkull:hover {
  filter: drop-shadow(0 0px 35px rgba(39, 155, 245, 0.9));
  transition: all 0.5s ease-in-out;
  transform: scale(1.75);
  opacity: 1;
  z-index: 10;
}
.saintSkull:hover {
  filter: drop-shadow(0 0px 35px rgba(245, 219, 39, 0.9));
  transition: all 0.5s ease-in-out;
  transform: scale(1.75);
  opacity: 1;
  z-index: 10;
}

#work{
height: 800px;
}

.works {
height: 600px;
}